{% extends "base.html" %} 
{% load static %}
{% block content %}  
<div class=container>
<div class=row>
<div class=col-lg-6>
<div class=hero-content-wrapper>
<h3 class="mb-30 wow fadeInUp" data-wow-delay=.2s>Fake Profile Identification in Social Network Using Machine Learning</h3>
<p class="mb-30 wow fadeInUp" data-wow-delay=.4s>To scrutinize, who are giving threats in thesenetworking sites we need to organize these social networking accounts into genuine accountsand fake accounts</p>
<a href="/start" class="button button-lg radius-50 wow fadeInUp" data-wow-delay=.6s>Get Started</a>
</div>
</div>
<div class="col-lg-6 align-self-end">
<div class="hero-image wow fadeInUp" data-wow-delay=.5s>
<img src="/static/img/hero-img.svg" alt="">
</div>
</div>
</div>
</div>
 {% endblock %}
 {% block jsscript %} 
 
 {% endblock %} 