{% extends "base.html" %} 
{% load static %}
{% block content %}  
<div class="container"> 
<div class="row  mb-4 mt-5">
   <table class="table"> 
     <thead>
    <tr>
      <th scope="col" colspan=2>Current Dataset</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Genuine </th>
      <td>{{data.genuine_users}}</td> 
    </tr> 
	 <tr>
      <th scope="row">Fake </th>
      <td>{{data.fake_users}}</td> 
    </tr> 
	 <tr>
      <th scope="row">Total </th>
      <td>{{data.total}}</td> 
    </tr> 
  </tbody>
</table>
</div>
</div>
 {% endblock %}
 {% block jsscript %} 
 
 {% endblock %} 